body{
    background-color: rgb(7, 15, 32);
    width: 75ch;
    margin: 0 auto;
    font-size: 1.4em;
}

p{
    padding: 1.5ch;
    border-radius: 5px;
}

.oppgave,
.info {
    background-color: mintcream;
    padding: 0.2em 1em;
    margin: 0;
    margin-top: 1.5em;
    border-radius: 0.3em;
    color:rgb(119, 87, 55);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    color: rgb(92, 62, 32);
}



.calculator{
    padding: 1ch;
    border-style: solid;
    border-color: hotpink;
    width: 90%;
    margin: 2ch auto;
    background-color: lawngreen;
}

.calculator p, input{
    display: block;
    border-radius: 0;
    width: 90%;
    padding: 0.5ch;
    margin: 1ch auto;
    text-align: center;
}

.calculator h3{
    text-align: center;
}

.calculator p {
    background-color: lemonchiffon;
    color: rgb(103, 87, 170);
    text-align: center;
}