body {
    font-family: Arial, Helvetica, sans-serif;
}

.centeredguess {
    display: block;
    width: 50%;
    margin: 5% auto;
    background-color: burlywood;
}

.output {
    display: block;
    font-size: 1.2em;
    width: 100%;
    color: dodgerblue;
    text-align: center;
}

h1{
   display: block; 
   margin: 0 auto;
  text-align: center;
}

input {
    display: block;
    font-size: 4em;
    width: 4ch;
    margin: 0 auto;
}

.correct {
    color: green;
}

.timer {
    display: block;
    margin: 50px auto 0px auto;
    font-size: 2em;
    text-align: center;
    width:  3em;
    padding: 1em;
    background-color: forestgreen;
}

h2 {
    font-size: 1.2em;
    text-align: left;
}
ol {
    display: block;
    width: 30ch;
    margin: 0 auto;
    font-size: 1.5em;
}

.name,
.guesses,
.time {
    display: inline-block;
}
.name {
    display: inline-block;
    color: rgb(228, 9, 162);
    width: 4.5ch;
}

.guesses {
    color: blueviolet;
    width: 12ch;
}

.time {
    color: rgb(18, 93, 15);
    width: 12ch;
}

.highscoreinput {
    position: fixed;
    background-color: cadetblue;
    display: block;
    padding: 2em;
    z-index: 10;
    top: 200px;
    left: 37.5em;
    border-radius: 4em;
    box-shadow: 5px 5px 50px rgb(160, 201, 235);
    display: none;
}

.highscoreinput input{
    width: 15ch;
    font-size: 5ch;
    margin: 1ch;
}